section.album 
    .container 
        +blockheader("Album ảnh","View tuyệt đẹp ,nhưng khung hình đầy màu sắc cho các bạn trải nghiệm thế giới qua hình ảnh tại Coca travel")
        .album-list 
            .album-col 
                img.album-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/gallery_img_1.png?1642398721726")
            .album-col
                .album-list2 
                    .album-list2-item 
                        img.album-list2-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/gallery_img_2.png?1642398721726")
                    .album-list2-item 
                        img.album-list2-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/gallery_img_3.png?1642398721726")
                    .album-list2-item 
                        img.album-list2-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/gallery_img_4.png?1642398721726")
                    .album-list2-item 
                        img.album-list2-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/gallery_img_5.png?1642398721726")