section.favourist 
    .container 
        +blockheader("Điểm đến yêu thích")
    .favourist-list 
        .favourist-col-big
            .favourist-col-item.favourist-col-item-full
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/bg_video_home.png?1642398721726")
        .favourist-col
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_1.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_1.png?1642398721726")  
                        span.favourist-col-item-info-destination Vịnh Hạ Long
                        .favourist-col-item-info-h
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_2.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_2.png?1642398721726") 
                        span.favourist-col-item-info-destination Sapa
                        .favourist-col-item-info-h 
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
        .favourist-col
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_3.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_3.png?1642398721726")  
                        span.favourist-col-item-info-destination Đà Nẵng
                        .favourist-col-item-info-h
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_4.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_4.png?1642398721726") 
                        span.favourist-col-item-info-destination Đà Lạt
                        .favourist-col-item-info-h 
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
        .favourist-col
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_5.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_5.png?1642398721726")  
                        span.favourist-col-item-info-destination Châu Âu 
                        .favourist-col-item-info-h
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
            .favourist-col-item
                img.favourist-col-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_image_6.png?1642398721726")
                .favourist-col-item-wrap
                    .favourist-col-item-info 
                        a.favourist-col-item-info-link(href="#")
                            img.favourist-col-item-info-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/tour_icon_6.png?1642398721726") 
                        span.favourist-col-item-info-destination Châu Á
                        .favourist-col-item-info-h 
                            span.favourist-col-item-info-h-text Đang cập nhật 
                            button.favourist-col-item-info-h-btn Khám Phá   
                