footer.footer 
    .container
        .footer-list 
            .footer-list-col.footer-list-col-bg
                .footer-list-col-item 
                    h3.footer-list-col-item-titile Liên hệ
                    ul.footer-list2
                        li.footer-list2-item
                            strong.footer-list2-item-m Địa chỉ:
                            span.footer-list2-item-s Ladeco Building, 266 Doi Can Street, Ba Dinh District, Ha Noi
                        li.footer-list2-item
                            strong.footer-list2-item-m  Điện thoại:
                            span.footer-list2-item-s 19006750
                        li.footer-list2-item
                            strong.footer-list2-item-m Emai:
                            span.footer-list2-item-s support@sapo.vn
                        li.footer-list2-item
                            strong.footer-list2-item-m Giờ làm việc:
                            span.footer-list2-item-s Đang cập nhật
            .footer-list-col.footer-list-col-bg
                .footer-list-col-item 
                    h3.footer-list-col-item-titile KẾT NỐI VỚI CHÚNG TÔI
                    ul.footer-list2img
                        li.footer-list2img-item
                            a.footer-list2img-item-link.a.footer-list2img-item-link-1(href="#")
                                i.fab.fa-facebook.footer-list2img-item-icon
                        li.footer-list2img-item
                            a.footer-list2img-item-link.a.footer-list2img-item-link-2(href="#")
                                i.fab.fa-twitter.footer-list2img-item-icon
                        li.footer-list2img-item
                            a.footer-list2img-item-link.a.footer-list2img-item-link-3(href="#")
                                i.fab.fa-google-plus.footer-list2img-item-icon
                        li.footer-list2img-item
                            a.footer-list2img-item-link.a.footer-list2img-item-link-4(href="#")
                                i.fab.fa-pinterest.footer-list2img-item-icon
                        li.footer-list2img-item
                            a.footer-list2img-item-link.a.footer-list2img-item-link-5(href="#")
                                i.fa.fa-rss.footer-list2img-item-icon
                .footer-list-col-item 
                    h3.footer-list-col-item-titile CHẤP NHẬN THANH TOÁN
                    ul.footer-list3img
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_1.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_2.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_3.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_4.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_5.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_6.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_7.png?1642398721726")
                        li.footer-list3img-item
                            img.footer-list3img-item-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/img_payment_8.png?1642398721726")
            .footer-list-col
                .footer-list-col-item 
                    h3.footer-list-col-item-titile TRONG NƯỚC
                    ul.footer-list4
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Hạ Long
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Ninh Bình
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Nghệ An
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Đà Nẵng
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Tam Đảo
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Quảng Ninh
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Thanh Hóa
            .footer-list-col
                .footer-list-col-item 
                    h3.footer-list-col-item-titile NGOÀI NƯỚC
                    ul.footer-list4
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Tây Ban Nha
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Ý
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Pháp
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Anh
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Ba Lan
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Hàn Quốc
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Trung Quốc
            .footer-list-col
                .footer-list-col-item 
                    h3.footer-list-col-item-titile THÔNG TIN
                    ul.footer-list4
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Tin tức
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Tạp chí du lịch
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Cẩm nang du lịch
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Kinh nghiệm du lịch
                        li.footer-list4-item
                            a.footer-list4-item-link(href="#") Liên hệ
    .footer-bottom
        .footer-bottom-coppyright 
            p.footer-bottom-coppyright-text © Bản quyền thuộc về TeaTravel 
            span.footer-bottom-coppyright-main Cung cấp bởi
                a.footer-bottom-coppyright-author Huỳnh Trường Giang
                    
                   
                            
                       
                        