header.header
   .header-top 
        .container 
            .header-top-container
                .header-top-logo
                    img.header-top-logo-img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/logo.png?   1642398721726")
                .header-top-search 
                    .header-top-search-wrap
                        input.header-top-search-input(type="text", placeholder="Từ khoá tìm kiếm ...")
                        .header-top-history 
                            h3.header-top-search-title Lịch sử tìm kiếm
                            ul.header-top-history-list
                                li.header-top-history-item
                                    a.header-top-history-link Nha Trang
                                li.header-top-history-item
                                    a.header-top-history-link Bình Thuận
                                li.header-top-history-item
                                    a.header-top-history-link Bình Dương
                    button.header-top-search-btn 
                        i.fa-solid.fa-magnifying-glass.header-top-search-icon
                
                        
                ul.header-top-login
                    li.header-top-login-item
                        span.header-top-login-text Đăng kí
                    li.header-top-login-item
                        span.header-top-login-text /
                    li.header-top-login-item
                        span.header-top-login-text Đăng Nhập 
   .header-navbar
        .container
            i.fa-solid.fa-bars.header-navbar-icon-menu
            .header-navbar-container
                ul.header-navbar-list 
                    li.header-navbar-item
                        a(href="#").header-navbar-item-link Trang chủ 
                    li.header-navbar-item
                        a(href="#").header-navbar-item-link Giới thiệu 
                        i.fa-solid.fa-chevron-down.header-navbar-icon
                        ul.header-subnav-list
                            li.header-subnav-item
                                a(href="#").header-subnav-item-link Cẩm nan du lịch
                            li.header-subnav-item
                                a(href="#").header-subnav-item-link Kinh nghiệm du lịch
                    li.header-navbar-item
                        a(href="#").header-navbar-item-link Tour du lịch 
                        i.fa-solid.fa-chevron-down.header-navbar-icon
                        ul.header-subnav-lv2 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Trong nước
                                ul.header-subnav-lv3 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Ngoài nước
                                ul.header-subnav-lv3 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link New York 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Pari 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hà Lan 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Singapor 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Tokyo 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Myanmar 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Yêu Thích
                                ul.header-subnav-lv3 
                                    li.header-subnav-lv3-item 
                                         a.header-subnav-lv3-link New York 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Pari 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Tự chọn
                    li.header-navbar-item
                        a(href="#").header-navbar-item-link Tin tức 
                    li.header-navbar-item
                        a(href="#").header-navbar-item-link Liên hệ 

                
                     
                         

                       
        
   
                