section.modal 
    ul.modal-navbar-list 
        li.modal-navbar-item
            a(href="#").modal-navbar-item-link Trang chủ 
        li.modal-navbar-item
            a(href="#").modal-navbar-item-link Giới thiệu 
            i.fa-solid.fa-chevron-down.modal-navbar-icon
            ul.modal-subnav-list
                li.modal-subnav-item
                    a(href="#").modal-subnav-item-link Cẩm nan du lịch
                li.modal-subnav-item
                    a(href="#").modal-subnav-item-link Kinh nghiệm du lịch
        li.modal-navbar-item
            a(href="#").modal-navbar-item-link Tour du lịch 
            i.fa-solid.fa-chevron-down.modal-navbar-icon
            ul.modal-subnav-lv2 
                li.modal-subnav-lv2-item
                    h3.modal-subnav-lv2-title
                        a.modal-subnav-lv2-title-link Trong nước
                    ul.modal-subnav-lv3 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long 
                        li.modal-subnav-lv3-item 
                            a.modal-subnav-lv3-link Hạ Long
                        li.modal-subnav-lv2-item 
                            h3.modal-subnav-lv2-title
                               a.header-subnav-lv2-title-link Ngoài nước
                                ul.header-subnav-lv3 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link New York 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Pari 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hà Lan 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Singapor 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Tokyo 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Myanmar 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Yêu Thích
                                ul.header-subnav-lv3 
                                    li.header-subnav-lv3-item 
                                         a.header-subnav-lv3-link New York 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Pari 
                                    li.header-subnav-lv3-item 
                                        a.header-subnav-lv3-link Hạ Long 
                            li.header-subnav-lv2-item
                                h3.header-subnav-lv2-title
                                    a.header-subnav-lv2-title-link Tự chọn
        li.modal-navbar-item
            a(href="#").modal-navbar-item-link Tin tức 
        li.modal-navbar-item
            a(href="#").modal-navbar-item-link Liên hệ  
				
			
                               
                                 