section.news 
    .container 
        .block-box
            h2.block-box-title
                a.block-box-title-link.white Tin tức
            p.block-box-description.white Review, đánh giá và những trải nghiệm tuyệt vời của chúng tôi cùng khách hàng được cập nhật tại đây, giúp cho khách hàng cũ hay mới đều được có một cái nhìn khách quan khi tìm hiểu về tour du lịch của chúng tôi
        .news-list 
            .news-item 
                .news-item-wrap
                    img.news-item-img(src="https://bizweb.dktcdn.net/100/315/268/articles/untitled-1.jpg?v=1532248703827")
                .news-item-info 
                    a.news-item-info-tile(href="#") Đi tìm giấc mơ màu tím
                    span.news-item-info-date Ngày đăng: 22/07/2018
                    .news-item-info-comment 
                        i.fa-solid.fa-comment-dots.news-item-info-comment-icon
                        span.news-item-info-comment-number 4
            .news-item 
                .news-item-wrap
                    img.news-item-img(src="https://bizweb.dktcdn.net/100/315/268/articles/untitled-1.jpg?v=1532248703827")
                .news-item-info 
                    a.news-item-info-tile(href="#") Đi tìm giấc mơ màu tím
                    span.news-item-info-date Ngày đăng: 22/07/2018
                    .news-item-info-comment 
                        i.fa-solid.fa-comment-dots.news-item-info-comment-icon
                        span.news-item-info-comment-number 4
            .news-item 
                .news-item-wrap
                    img.news-item-img(src="https://bizweb.dktcdn.net/100/315/268/articles/untitled-1.jpg?v=1532248703827")
                .news-item-info 
                    a.news-item-info-tile(href="#") Đi tìm giấc mơ màu tím
                    span.news-item-info-date Ngày đăng: 22/07/2018
                    .news-item-info-comment 
                        i.fa-solid.fa-comment-dots.news-item-info-comment-icon
                        span.news-item-info-comment-number 4