section.registration 
    .container 
        .block-box
            h2.block-box-title
                a.block-box-title-link.white Đăng ký nhận tin
            p.block-box-description.white Tổng hợp những chương trình tour theo tháng, du lịch vòng quanh thế giới với mức chi phí cực rẻ. Để nhận ngay những thông tin chương trình tour hot, Sale. Quý khách hàng vui lòng nhập thông tin email tại đây ! Thanks
        
        .registration-wrap 
            input(type="email" placeholder="Email address").registration-wrap-input
            button.registration-wrap-btn Đăng ký 
          
            