section.slider 
    ul.slider-list
        li.slider-item
            img.slider-item-img(src="http:////bizweb.dktcdn.net/100/315/268/themes/681660/assets/slider_1.jpg?1642398721726") 
        li.slider-item
            img.slider-item-img(src="https://images.unsplash.com/photo-1640622844217-a51dd0f51d19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60") 
        li.slider-item
            img.slider-item-img(src="https://images.unsplash.com/photo-1645290099039-b521be616729?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60") 
    .slider-bottom
        .container 
            .slider-bottom-search 
                .slider-bottom-search-item 
                    .slider-bottom-text Chọn loại hình tour 
                        i.fa-solid.fa-chevron-down.slider-bottom-search-item-icon
                    ul.slider-bottom-list 
                        li.slider-bottom-item Chọn loại hình tour 
                            
                        li.slider-bottom-item Tour trong nước
                            
                        li.slider-bottom-item Tour ngoài nước 
                            
                .slider-bottom-search-item 
                    .slider-bottom-text Chọn nơi đến
                        i.fa-solid.fa-chevron-down.slider-bottom-search-item-icon
                    ul.slider-bottom-list 
                        li.slider-bottom-item Chọn loại hình tour
                             
                button.slider-bottom-search-item.slider-bottom-search-item-btn Tìm kiếm ngay 