section.tourin 
    .container 
        +blockheader("Tour trong nước","Sale off tất cả các tour trong tháng này.Nhanh tay đặt tour để cho gia đình mình cùng quây quần bên nhau.")
        ul.tourin-list
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/1024x1024/100/315/268/products/cam-hangluc4jpg.jpg?v=1536114542553")
                        .tourin-item-sale 
                            span.tourin-item-sale-number -70%
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Siem Reap - Phnom Penh (Khách sạn 3*, Tour Tiết Kiệm) 
                        .tourin-item-content 
                            span.tourin-item-content-price 1.784.000đ
                            span.tourin-item-content-discount 6.000.000đ
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/jed1367636408.jpg?v=1532329024767")
                        .tourin-item-sale 
                            span.tourin-item-sale-number -81%
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Miền Tây - Đồng Tháp - Tràm Chim - Thiền Viện Trúc Lâm Chánh Giác  
                        .tourin-item-content 
                            span.tourin-item-content-price 6.400.000đ
                            span.tourin-item-content-discount 7.800.000đ
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/5ae28b3ca48a9319fe608337629845.jpg?v=1532329022793")
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Siem Reap - Phnom Penh (Khách sạn 3*, Tour Tiết Kiệm) 
                        .tourin-item-content 
                            span.tourin-item-content-price 2.000.000đ
        ul.tourin-list
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/1024x1024/100/315/268/products/cam-hangluc4jpg.jpg?v=1536114542553")
                        .tourin-item-sale 
                            span.tourin-item-sale-number -70%
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Siem Reap - Phnom Penh (Khách sạn 3*, Tour Tiết Kiệm) 
                        .tourin-item-content 
                            span.tourin-item-content-price 1.784.000đ
                            span.tourin-item-content-discount 6.000.000đ
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/jed1367636408.jpg?v=1532329024767")
                        .tourin-item-sale 
                            span.tourin-item-sale-number -81%
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Miền Tây - Đồng Tháp - Tràm Chim - Thiền Viện Trúc Lâm Chánh Giác  
                        .tourin-item-content 
                            span.tourin-item-content-price 6.400.000đ
                            span.tourin-item-content-discount 7.800.000đ
            li.tourin-item
                a.tourin-item-link(href="#")
                    .tourin-item-wrap 
                        img.tourin-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/5ae28b3ca48a9319fe608337629845.jpg?v=1532329022793")
                        .tourin-item-vehicle-wrap
                            .tourin-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourin-btn 
                            button.tourin-btn-primary Chi Tiết
                    .tourin-item-wrap-text
                        p.tourin-item-destination 
                            a.tourin-item-destination-link Siem Reap - Phnom Penh (Khách sạn 3*, Tour Tiết Kiệm) 
                        .tourin-item-content 
                            span.tourin-item-content-price 2.000.000đ

                   
                    
           
                