section.tourout 
    .container 
        +blockheader("Tour ngoài nước","Sale off tất cả các tour trong tháng này.Nhanh tay đặt tour để cho gia đình mình cùng quây quần bên nhau.")
        ul.tourout-list
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/11-jpg.jpg?v=1536116450550")
                        .tourout-item-sale 
                            span.tourout-item-sale-number -84%
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Lịch trình Tour Ninh Chữ – Vịnh Vĩnh Hy - 3 ngày 2 đêm  
                        .tourout-item-content 
                            span.tourout-item-content-price 3.200.000đ
                            span.tourout-item-content-discount 4.300.000đ
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/tour-du-lich-phu-quoc-khoi-hanh-hang-ngay-2.jpg?v=1536116825620")
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_2.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Tour Du Lịch Phú Quốc 2 Ngày 1 Đêm - Đông Đảo 
                        .tourout-item-content 
                            span.tourout-item-content-price 6.400.000đ
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/thaophuongnguyen-170411110445-cn-1.jpg?v=1536117473157")
                        .tourout-item-sale 
                            span.tourout-item-sale-number -57%
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Tour Đặc Sắc Hàn Quốc 5N4Đ cho mùa Lá Đỏ  
                        .tourout-item-content 
                            span.tourout-item-content-price 23.000.000đ
                            span.tourout-item-content-discount 29.000.000đ
        ul.tourout-list
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/11-jpg.jpg?v=1536116450550")
                        .tourout-item-sale 
                            span.tourout-item-sale-number -84%
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Lịch trình Tour Ninh Chữ – Vịnh Vĩnh Hy - 3 ngày 2 đêm  
                        .tourout-item-content 
                            span.tourout-item-content-price 3.200.000đ
                            span.tourout-item-content-discount 4.300.000đ
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/tour-du-lich-phu-quoc-khoi-hanh-hang-ngay-2.jpg?v=1536116825620")
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_2.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Tour Du Lịch Phú Quốc 2 Ngày 1 Đêm - Đông Đảo 
                        .tourout-item-content 
                            span.tourout-item-content-price 6.400.000đ
            li.tourout-item
                a.tourout-item-link(href="#")
                    .tourout-item-wrap 
                        img.tourout-item-img(src="https://bizweb.dktcdn.net/thumb/large/100/315/268/products/thaophuongnguyen-170411110445-cn-1.jpg?v=1536117473157")
                        .tourout-item-sale 
                            span.tourout-item-sale-number -57%
                        .tourout-item-vehicle-wrap
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_1.png?1642398721726") 
                            .tourout-item-vehicle 
                                img(src="https://bizweb.dktcdn.net/100/315/268/themes/681660/assets/tag_icon_3.png?1642398721726") 
                        .tourout-btn 
                            button.tourout-btn-primary Chi Tiết
                    .tourout-item-wrap-text
                        p.tourout-item-destination 
                            a.tourout-item-destination-link Tour Đặc Sắc Hàn Quốc 5N4Đ cho mùa Lá Đỏ  
                        .tourout-item-content 
                            span.tourout-item-content-price 23.000.000đ
                            span.tourout-item-content-discount 29.000.000đ
      

                   
                    
           
                