section.why 
    .container 
        +blockheader("Vì sao chọn TeaTravel")
    .why-wrap 
        .container 
            .why-list 
                .why-item 
                    span.why-item-number 1
                    .why-item-info 
                        h3.why-item-info-title Mạng bán tour 
                        p.why-item-info-description Số 1 tại Việt Nam
                .why-item 
                    span.why-item-number 2
                    .why-item-info 
                        h3.why-item-info-title THANH TOÁN 
                        p.why-item-info-description An toàn, linh hoạt. Liên kết với các tổ chức tài chính
                .why-item 
                    span.why-item-number 3
                    .why-item-info 
                        h3.why-item-info-title GIÁ CẢ
                        p.why-item-info-description Luôn có mức giá tốt nhất. Bảo đảm giá cả tốt
            .why-list 
                .why-item 
                    span.why-item-number 4
                    .why-item-info 
                        h3.why-item-info-title SẢN PHẨM
                        p.why-item-info-description Đa dạng, chất lượng tốt nhất
                .why-item 
                    span.why-item-number 5
                    .why-item-info 
                        h3.why-item-info-title ĐẶT TOUR
                        p.why-item-info-description Dễ dàng, nhanh chóng, thuận lợi
                .why-item 
                    span.why-item-number 6
                    .why-item-info 
                        h3.why-item-info-title HỖ TRỢ
                        p.why-item-info-description Hỗ trợ 24/7
                
            